@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg:#fafafa,
  --white:#ffffff,
  --border:#dddddd,
  --bg2:#f4f4f4,
  --dark:#151515
}

body{
  background-color: var(--bg);
  color: var(--dark);
  height: 100vh;
  width: 100vw;
  padding-inline:30px;
}